<!DOCTYPE html>

<html lang="en">

<head>
    <title>ML</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<body>
    <h1>Productionized Machine Learning Models</h1>

    <p>
        <a href="model_linear">linear model</a><br>
        <a href="model_mobilenet_classifier">classifier on mobilenet using k-nearest neighbors</a><br>
        <a href="model-semi-supervised-cnn-with-knn">semi-supervised: classifier with cnn using k-nearest neighbors</a><br>
        <a href="model-coco-ssd-live-webcam">object detection and classification on coco-ssd</a><br>
        <!--- lang model <a href="model_bert_qa">link</a> <br> --->
    </p>
</body>

</html>
