<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>langmode</title>
</head>
<body>
<h1>h1 text</h1>
 <p>Read this summary of a fairy tale: <br><br>

   A little old woman baked a gingerbread man and when she took him out of the oven, he ran away. The woman and her husband chased him, as well as the pig, cow and horse. No one could catch him. He came to a river and a sly fox told him he could jump on his tail and he would take him across. He did and the fox went deeper and the gingerbread man had to jump on his back and then on his nose. When he got to his nose, the fox ate him.</p>

   <br> Now ask the model a question, like "Whose tail did the gingerbread man jump on?"

<form action="model_bert_qa_result" method="post">
    <label for="user_input">Question:</label>
    <input type="text" name="user_input" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>
